/* Common app styling */

#content-main {
    background: yellow;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    bottom: 0px; /* Same value as #content-footer's height */
    overflow: hidden; /* Enable scrollbars within main content section */
}

.padding {
    padding: 15px;
    background-color: pink;
}

