/* Page-specific styling */
 .RantBox {
    height:100%;
    background-image: url("../../images/void_wide.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color:White;
    margin:0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.RantMessage {
    opacity: 0;
    color: white;
    margin-bottom: 5px;
    font-size: x-large;
}

.RantButton {
    background-color: transparent;
    color: white;
    margin-left: 40px;
}

.RantButton:hover {
    color: black;
}

 input[type=textarea].RantInput {
     background: transparent;
     background-color: transparent;
     color: white;
     width: 151;
     border: none;
     font-size: large;
     outline: none;
 }
